* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: rgba(29, 29, 29, 0.589);
  max-width: 100%;
}

.conteiner {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  //height: 300px;
}
h1 {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  padding-bottom: 10px;
}
h1::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 300px;
  left: 0;
  bottom: 5px;

  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

#country-dropdown,
#number-of-days {
  height: 40px;
  width: 100%;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: calc(100% / 5 - 10px);
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  min-width: 120px;
}
#number-of-days {
  padding-left: 15px;
}

button {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 25px;
  text-align: center;
}

#inline {
  display: inline-block;
  min-width: 120px;
}

h2 {
  margin-top: 10px;

  color: #1a936f;
  font-size: 16pt;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.info {
  position: fixed;
  bottom: 160px;
  text-align: center;
}

@media only screen and (max-width: 800px){
  .info {
    position: fixed;
    bottom: 160px;
    text-align: center;
  }

  h1 {
    font-size: 11pt;
    margin-bottom: 10px;
  }

 
    button {
      height: 90px;
      width: 100%;
      margin-top: 10px;
      outline: none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      border-radius: 11px;
      letter-spacing: 1px;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
      border-color: rgb(255, 255, 255);
      margin-bottom: -16px;
      cursor: pointer;
    }
  }
  

